#backround{
    background:#EFEFFA;
}
#nav {
    font-size: 20px;
    text-align: right;
    border-radius: 25px;
    padding: 20px; 
    width: 50%;
    height: 10px;
    background-color: #90CED1;
    float:right;
    font-family: 'Kalam', cursive;
}
#h1 {
    font-size: 40px;
    color:#435877;
    font-family: 'Kalam', cursive;
}
p {
   float:left;
    width: 850px;
    padding: 10px;
    margin: .5em;
    font-family: 'Kalam', cursive;
    color: #435A76;
}
#life {
    height: 200px;
    width:  300px;
    border:1px solid black;
    border-radius: 50px
}
#div1{
    border-color:#90CED1;
    border: solid;
    padding: 10px;
    border-radius: 50px
} 
a{
    color: #435A76;
}
