#grad {
    background: linear-gradient(to right,  hotpink , cyan);
}
#nav {
    color: white;
    font-size: 20px;
    text-align: right;
    border-radius: 25px;
    padding: 20px; 
    width: 50%;
    height: 10px;
    background: linear-gradient(to left, hotpink, cyan);
    float:right;
}
h1{
    color:black;
    font-family: 'Kalam', cursive;
    font-size: 40px;
}
nav {
    color:black;
    font-family: 'Kalam', cursive;
}
#google-form{
    border: solid;
}
a{
    color: white;
}