#background{
    background-color:#EFEFFA;
}
#h1 {
    font-size: 40px;
    color: #435877;
    font-family: 'Kalam', cursive;
    width:200px;
 }
#p1 {
    font-size: 30px ;
    color: #435A76;
    font-family: 'Kalam', cursive;
}
#p2 {
    font-size: 30px;
    color: #435A76;
    font-family: 'Kalam', cursive;
}
a{
    color: #435A76;
}
nav :hover{
    color:#92C9CE;
} 
.button1{
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-radius: 100px;
    width: 100px;
    float:right;
}
