#grad {
    background: linear-gradient(to right,  hotpink , cyan);
}
#nav {
    color: white;
    font-size: 20px;
    text-align: right;
    border-radius: 25px;
    padding: 15px;
    width: 50%;
    height: 10px;
    background: linear-gradient(to left, hotpink, cyan);
    float:right;
    width: 500px;
    height: 15px;
    position: relative;
    animation-name: nav1;
    animation-duration: 1s;
  }
@keyframes nav1 {
    0%    {width: 100px; height: 100px; left:20 0px; top:0px;}
    25%  {width; 100px; height: 100px; left:0px; top:0px;}
    50%  {width: 100px; height: 100px; left:0px; top:0px;}
    75%  {width: 100px; height: 100px; left:0px; top:0px;}
    100% {width: 500px; height: 15px; left:0px; top:0px;}
}
#h1 {
    font-size: 50px;
    color: black;
}
#p1 {
    font-size: 30px ;
    color: floralwhite;
    font-family: 'Shadows Into Light', cursive;
}
#p2 {
    font-size: 30px;
    color: floralwhite;
    font-family: 'Shadows Into Light', cursive;
}