#grad {
    background: linear-gradient(to right,  hotpink , cyan);
}
#nav {
    color: white;
    font-size: 20px;
    text-align: right;
    border-radius: 25px;
    padding: 20px; 
    width: 50%;
    height: 10px;
    background: linear-gradient(to left, hotpink, cyan);
    float:right;
}
h1 {
    font-size: 40px;
    color: black;
    font-family: 'Kalam', cursive;
}
nav {
    color:black;
    font-family: 'Kalam', cursive;    
}
a{
    color: white;
}