#backround{
    background:#EFEFFA;
}
#nav {
    color: white;
    font-size: 20px;
    text-align: right;
    border-radius: 25px;
    padding: 20px; 
    width: 50%;
    height: 10px;
    background-color: #90CED1;
    float:right;
}
#h1 {
    font-size: 40px;
    color:#435A76;
    font-family: 'Kalam', cursive;
}
nav {
    font-family: 'Kalam', cursive;    
}
#resume{
    border: solid;
    border-color: #1C1D1F;
}
a{
    color: #435A76;
}